[Unit]
Description=platform service
After=syslog.target

[Service]
ExecStart=/data/app/nodejs/bin/node /data/app/platform/lib/platform.js 10000 /data/app/platform/logs/platform.pid                                                                                                     
#ExecStop=/data/app/platform/platform stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
